<!DOCTYPE html>
<html>
<head>
    <title>Регистрация Врача</title>
</head>
<body>
    <h2>Регистрация Врача</h2>
    <form method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Зарегистрироваться">
    </form>
    <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>
