<!DOCTYPE html>
<html>
<head>
    <title>Профиль Врача</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { height: 400px; }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .button:hover {
            background-color: #0056b3;
        }
        /* Дополнительные стили */
    </style>
</head>
<body>
    <h2>{{ doctor.name }}</h2>
    <p>Специализация: {{ doctor.specialization }}</p>
    <p>О враче: {{ doctor.about }}</p>

    <!-- Кнопка для вызова врача на дом -->
    <a href="{{ url_for('call_doctor', doctor_id=doctor.id) }}" class="button">Вызвать Врача на Дом</a>
    <!-- Кнопка для возврата к поиску врачей -->
    <a href="{{ url_for('search') }}" class="button">Назад к Поиску</a>

    <!-- Место для карты -->
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([{{ doctor.lat }}, {{ doctor.lng }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Добавляем маркеры для всех врачей
        {% for doc in all_doctors %}
            L.marker([{{ doc.lat }}, {{ doc.lng }}]).addTo(map)
                .bindPopup('<a href="/doctor/{{ doc.id }}">{{ doc.name }}</a><br>{{ doc.specialization }}');
        {% endfor %}
    </script>
</body>
</html>
